body {
    color: whitesmoke;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(0deg, black 0%, navy 100%);
}

h1 {
    color: white;
    font-size: 100px;
    font-weight:bold;
    text-shadow: 2px 2px 4px darkgray;
}

#intro {
    font-weight:bold;
    font-size: 50px;
    color:antiquewhite;
}
marquee {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

img {
    width: 30%;
}
#image-text {
    font-size: 20px;
    color: ivory;
}